<div id="board-calendar" class="page-layout simple right-sidenav" flex layout="row">

  <!-- SCHEDULED CARDS SIDENAV -->
  <md-sidenav  class="sidenav scheduled-tasks-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')"
              md-component-id="scheduled-tasks-sidenav"
              ng-include="'app/adminPanel/easyAnnouncement/sidenav/sideNavbareEvents.html'"
              ms-scroll ms-sidenav-helper>
  </md-sidenav>

 <!-- CONTENT-->
  <!-- CALENDAR -->
  <div  id="calendar1"  class="md-whiteframe-2dp" flex layout="column" ng-class="vm.currentMonthShort">
    <!-- CALENDAR HEADER -->
    <div class="calendar-header" layout="row" layout-align="space-between center" layout-xs="column">

      <md-button hide-gt-md class="md-icon-button" ng-click="vm.toggleSidenav('scheduled-tasks-sidenav')"
                 aria-label="Scheduled Cards Sidenav">
        <md-icon md-font-icon="icon-calendar-clock"></md-icon>
        <md-tooltip><span >Scheduled Cards</span></md-tooltip>
      </md-button>

      <div class="" layout="row" layout-align="start center">
        <md-button class="md-icon-button arrow" ng-click="vm.calendar.prev()" aria-label="Previous"
                  >
          <md-icon md-font-icon="icon-chevron-left"></md-icon>
        </md-button>

        <div class="title">
          {{vm.calendarView.title}}
        </div>

        <md-button class="md-icon-button arrow" ng-click="vm.calendar.next()" aria-label="Next" translate
                   >
          <md-icon md-font-icon="icon-chevron-right"></md-icon>
        </md-button>
      </div>

      <div>

        <md-button class="md-icon-button" ng-click="vm.calendar.today()" aria-label="Today"
                  >
          <md-icon md-font-icon="icon-calendar-today"></md-icon>
          <md-tooltip><span >Today</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="vm.calendar.changeView('agendaDay')" aria-label="Day"
                  >
          <md-icon md-font-icon="icon-view-day"></md-icon>
          <md-tooltip><span >Day</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="vm.calendar.changeView('agendaWeek')" aria-label="Week"
                  >
          <md-icon md-font-icon="icon-view-week"></md-icon>
          <md-tooltip><span >Week</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="vm.calendar.changeView('month')" aria-label="Month"
                   translate translate-attr-aria-label="SB.MONTH">
          <md-icon md-font-icon="icon-view-module"></md-icon>
          <md-tooltip><span >Month</span></md-tooltip>
        </md-button>
      </div>
      <!-- ADD EVENT BUTTON-->
      <md-button class="add-event-button md-mini md-fab md-warn" ng-click="vm.addEvent($event)"
                 aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
        <md-icon md-font-icon="icon-plus"></md-icon>
      </md-button>
      <!--/ ADD EVENT BUTTON mum-->
    </div>
    <!-- / CALENDAR HEADER -->
    <div id="calendar-main"  ms-scroll flex ui-calendar="vm.calendarUiConfig.calendar" ng-model="vm.events" calendar="main"></div>
  </div>

  <!--/ CONTENT-->




</div>
