<md-list >
  <md-list-item class="md-2-line contact-item">
    <img ng-src="{{card.avatar ? card.avatar:'assets/images/avatars/profile.jpg'}}" class="md-avatar" alt="{{card.first_name}}" />
    <div class="md-list-item-text compact">
      <h3> <md-tooltip md-direction="left">Name</md-tooltip><span>{{card.first_name +' '+card.last_name}}</span>
        <md-icon md-font-icon ng-class="card.status==='ready'?'icon-checkbox-marked-circle':card.status==='talking'?'icon-minus-circle':card.status==='notready'?'icon-checkbox-blank-circle-outline':card.status==='logout'?'icon-checkbox-blank-circle-outline':''"
                 ng-style="{'color':card.status==='ready'?'green':card.status==='talking'?'orange':card.status==='notready'?'red':card.status==='logout'?'blue':'' }"
                 class="icon status s16">
          <md-tooltip md-direction="right">{{card.status}}</md-tooltip>
        </md-icon>
      </h3>
      <h4 ><span>{{card.userId}} <md-tooltip md-direction="left">Agent Id</md-tooltip></span> <span class="icon-headphones">{{card.extension}}</span>
        <md-progress-linear class="md-info" md-mode="determinate" value="{{card.competence_level*10}}">
        </md-progress-linear>
        <md-tooltip md-direction="right"><span>Competence level: </span>{{card.competence_level}}</md-tooltip>
      </h4>
    </div>
  </md-list-item>
</md-list>
