<md-dialog class="event-detail-dialog" aria-label="New Message">
  <form name="agentForm">
    <md-toolbar class="md-accent md-hue-2">

      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Edit</span>


        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" layout-align="start">
      <md-list >
        <md-list-item class="md-2-line contact-item">
          <img ng-src="{{vm.agent.avatar ? vm.agent.avatar:'assets/images/avatars/profile.jpg'}}" class="md-avatar" alt="{{vm.agent.first_name}}" />
          <md-icon md-font-icon ng-class=" vm.agent.status==='ready'?'icon-checkbox-marked-circle': vm.agent.status==='talking'?'icon-clock': vm.agent.status==='notready'?'icon-checkbox-blank-circle-outline': vm.agent.status==='logout'?'icon-minus-circle':''"
                   ng-style="{'margin-left':'-30px','margin-top':'37px','color':vm.agent.status==='ready'?'green':vm.agent.status==='talking'?'orange':vm.agent.status==='notready'?'red':vm.agent.status==='logout'?'blue':'' }"
                   class="icon status s16">
            <md-tooltip md-direction="right">{{vm.agent.status}}</md-tooltip>
          </md-icon>
        </md-list-item>
      </md-list>
    </div>
    <md-dialog-content ms-scroll>


      <div layout="row" class="date-row">


        <md-input-container flex="50" class="md-block">
          <label >Firt name</label>
          <input name="first_name" ng-model="vm.agent.first_name" autocomplete="off" required>
          <div ng-messages="agentForm.first_name.$error" ng-show="agentForm.first_name.$touched" role="alert">
            <div ng-message="required">
              <span >First name cannot be null</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex="50" class="md-block">
          <label >Last name</label>
          <input name="last_name" ng-model="vm.agent.last_name" autocomplete="off" required>
          <div ng-messages="agentForm.last_name.$error" ng-show="agentForm.last_name.$touched" role="alert">
            <div ng-message="required">
              <span >Last name cannot be null</span>
            </div>
          </div>
        </md-input-container>





      </div>
      <div layout="row">
        <md-input-container flex="50" class="md-block">
          <label >Extension</label>
          <input name="extension" disabled autocomplete="off" ng-model="vm.agent.extension" >
        </md-input-container>
      </div>
      <div layout="row">
        <h3 flex="20"><md-icon md-font-icon ng-class="'icon-beaker'"
                               class="icon status s30"></md-icon><span>Skills</span></h3>
        <md-chips  ng-model="vm.agent.skillId" md-on-add="vm.addNewSkill()">

          <md-chip-template>
           <small>{{vm.skillName($chip.id)}}</small>
          </md-chip-template>
        </md-chips>
        <input type="hidden" name="skillId" value="vm.agent.skillId" ng-model="vm.agent.skillId" >

      </div>
      <div layout="row">
        <h3 flex="20"><md-icon md-font-icon ng-class="'icon-hexagon'"  class="icon status s30">

        </md-icon><span>Group</span></h3>

        <md-input-container flex>
           <md-select ng-model="vm.agent.groupId">
            <md-option ng-repeat="group in vm.groupList" value="{{group.id}}">
              {{vm.groupName(group.id)}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
      <div layout="row">
        <h3 layout="row">Competence level</h3>
          <md-slider flex md-discrete ng-model="vm.agent.competence_level" step="1" min="1" max="10" aria-label="rating">
          </md-slider>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button ng-click="vm.saveAgent(vm.agent)" class="save-button md-accent md-raised" aria-label="SAVE"
                 ng-disabled="agentForm.$invalid || agentForm.$pristine"
                 >
        SAVE
      </md-button>

     <!-- <md-button class="md-icon-button" aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span>Delete</span></md-tooltip>
      </md-button>-->
    </md-dialog-actions>
  </form>




</md-dialog>
