<!--
<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">


  &lt;!&ndash; CONTENT &ndash;&gt;
  <div class="content">


    <div class="simple-table-container md-whiteframe-4dp">
      <div class="table-title">
        Agent
      </div>

    </div>

  </div>
  &lt;!&ndash; / CONTENT &ndash;&gt;

</div>
&lt;!&ndash;<table class="simple" ms-responsive-table>
        <tr>
          &lt;!&ndash;<th>
            <div class="checkbox">
              <label>
                <md-input-container flex>
                  <md-checkbox ng-show="agentList.length > 0" ng-checked="allChecked()"  ng-model="allchecked" ng-change="checkAll(allchecked)">
                    <span>Automatic Work</span>
                  </md-checkbox>
                </md-input-container>

                <i class="input-helper"></i>
              </label>

            </div>
          </th>&ndash;&gt;
          <th data-title="Name"><div class="lv-title">First/last Name <small class="lv-small">(Agent Id)</small> </div>

            &lt;!&ndash;  ({{agent.agentId}})&ndash;&gt;
          </th>
          <th>Extension</th>
          <th data-title="Name"><div class="lv-title">Skills
            <small class="lv-small ">(Competence Level)</small> </div>
          </th>
          <th>Group</th>
          <th></th>
        </tr>

        <tr ng-repeat="agent in agentList">
          &lt;!&ndash;<td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
            <div class="checkbox">
              <label>

                <md-input-container flex>
                  <md-checkbox type="checkbox" ng-model="agent.checked">
                    <span>Automatic Work</span>
                  </md-checkbox>
                </md-input-container>
                <i class="input-helper"></i>
              </label>
            </div>
          </td>&ndash;&gt;
          <td data-title="Name"><div class="lv-title">{{agent.first_name}} {{agent.last_name}}  <small class="lv-small">({{agent.userId}})</small></div>

            &lt;!&ndash;  ({{agent.agentId}})&ndash;&gt;
          </td>
          <td>
            {{agent.extension}}
          </td>
          <td data-title="SkillTargetId" >

            <span ng-repeat="skill in agent.skillId" class="text-boxed m-1 {{$index%2==0?'green-bg':'blue-bg'}} white-fg">{{skillName(skill.id)}}</span>

            &lt;!&ndash;<label  ng-repeat="skill in agent.skillId"></label>&ndash;&gt;
            &lt;!&ndash; <div slider class="col-xs-10    input-slider" ng-model="agent.competence_level" start=1 end=10></div>&ndash;&gt;
            <md-slider flex="40" md-discrete ng-disabled="true" ng-model="agent.competence_level" step="1" min="1" max="10">
            </md-slider>
          </td>
          <td>

            <span ui-sref="app.agent.details" ng-show="agent.groupId"  class="text-boxed m-1 green-bg white-fg">{{groupName(agent.groupId)}}</span>
          </td>
        </tr>
      </table>&ndash;&gt;
-->

<div class="todo-items" ng-model="vm.agentList">

  <div class="todo-item" md-ink-ripple layout="row" layout-align="start center"
       ng-click="vm.dialogShowDetail(agent,$event)"
       ng-repeat="agent in vm.agentList">

    <div layout="row" flex>
      <div layout="row" layout-align="start center" flex>

        <div class="info" flex="50">

          <md-list flex="70" class="fixedRows">
          <md-list-item class="md-2-line contact-item">
            <img ng-src="{{agent.avatar ? agent.avatar:'assets/images/avatars/profile.jpg'}}" class="md-avatar" alt="{{agent.first_name}}" />
            <div>
              <md-icon md-font-icon ng-class="agent.status==='ready'?'icon-checkbox-marked-circle':agent.status==='talking'?'icon-clock':agent.status==='notready'?'icon-checkbox-blank-circle-outline':agent.status==='logout'?'icon-minus-circle':''"
                       ng-style="{'margin-top':'35px','margin-left':'-30px','color':agent.status==='ready'?'green':agent.status==='talking'?'orange':agent.status==='notready'?'red':agent.status==='logout'?'blue':'' }"
                       class="icon status s16">
                <md-tooltip md-direction="right">{{agent.status}}</md-tooltip>
              </md-icon>
            </div>
            <div class="md-list-item-text compact">
              <h3 flex="50"> <md-tooltip>Name</md-tooltip><span>{{agent.first_name}} </span><small>{{agent.last_name}}</small></h3>
              <h4 flex="30"><span> {{agent.userId}}</span><md-tooltip>Agent Id</md-tooltip>

              </h4>
              <div class="tags" layout="row"    layout-align="start center">
                <div class="tag" layout="row" layout-align="start center">
                 <!-- <div class="tag-color" ng-style="{'background-color': agent.status==='ready'?'green':agent.status==='talking'?'orange':agent.status==='notready'?'red':agent.status==='logout'?'blue':''}"></div>
               -->   <div class="tag-label icon-headphones">{{agent.extension}}<!-- <md-tooltip>{{agent.status}}</md-tooltip>--></div>

                </div>

              </div>


            </div>
          </md-list-item>
        </md-list>
          <div flex></div>
          <div class="notes" flex="30">
            <md-progress-linear class="md-info" md-mode="determinate" value="{{agent.competence_level*10}}">
            </md-progress-linear>
            <md-tooltip><span>Competence level: </span>{{agent.competence_level}}</md-tooltip>
          </div>

        </div>


        <div class="buttons" flex="60" layout="row" layout-align="start center">
          <div layout="row" flex="100" layout-align="start center">

            <md-chips  ng-model="agent.skillId" readonly="true">
              <md-chip-template>
                <small>{{vm.skillName($chip.id)}}</small>
              </md-chip-template>
            </md-chips>
            <md-tooltip>Skills</md-tooltip>
          </div>


        <!--  <md-menu>
            <md-button class="md-icon-button" aria-label="More" translate
                       translate-attr-aria-label="TODO.MORE">
              <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
            </md-button>

            <md-menu-content width="3">
              <md-menu-item>
                <md-button ng-click="task.completed = !task.completed" aria-label="Toggle done"
                           translate-attr-aria-label="TODO.TOGGLE_DONE">
                  <md-icon ng-class="task.completed === false ? 'grey-fg' : 'blue-fg'"
                           md-font-icon="icon-checkbox-marked-circle" class="s18"></md-icon>
                  <span ng-show="!task.completed" translate="TODO.MARK_AS_DONE">Mark as done</span>
                  <span ng-show="task.completed" translate="TODO.MARK_AS_UNDONE">Mark as undone</span>
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="task.important = !task.important" aria-label="Toggle important"
                           translate-attr-aria-label="TODO.TOGGLE_IMPORTANT">
                  <md-icon ng-class="task.important === false ? 'grey-fg' : 'red-600-fg'"
                           md-font-icon="icon-alert-circle" class="s18"></md-icon>
                              <span ng-show="!task.important" translate="TODO.MARK_AS_IMPORTANT"> Mark as
                                  important</span>
                              <span ng-show="task.important" translate="TODO.REMOVE_IMPORTANT">Remove
                                  important</span>
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="task.starred = !task.starred" aria-label="Toggle star"
                           translate-attr-aria-label="TODO.TOGGLE_STAR">
                  <md-icon ng-class="task.starred === false ? 'grey-fg' : 'amber-600-fg'"
                           md-font-icon="icon-star"
                           class="s18"></md-icon>
                  <span ng-show="!task.starred" translate="TODO.ADD_STAR">Add star</span>
                  <span ng-show="task.starred" translate="TODO.REMOVE_STAR">Remove star</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>-->
        </div>
      </div>


    </div>


  </div>
  <!--<md-sidenav class="md-sidenav-right md-whiteframe-z8"  md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Details</h1>
    </md-toolbar>
    <md-content ng-controller="AgentDetailController" ng-include="'app/adminPanel/agent/detail.html'" layout-padding>


    </md-content>
  </md-sidenav>-->
</div>
<md-content class="content" flex layout="column" ui-view="detailsContent"></md-content>
