<md-dialog flex="30" class="event-form-dialog" aria-label="New Message" >
  <form name="folderForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Create Folder</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!--{{vm.easyAnnouncement}}-->

    <md-dialog-content ms-scroll >
      <div layout="row" class="date-row">
        <md-input-container flex="50" class="md-block">
          <label >Name</label>
          <input name="name" ng-model="vm.folder.name" autocomplete="off" required>
          <div ng-messages="folderForm.name.$error" ng-show="folderForm.name.$touched" role="alert">
            <div ng-message="required">
              <span >Name cannot be null</span>
            </div>
          </div>
        </md-input-container>
      </div>







    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button ng-click="vm.createFolder(vm.folder)" class="save-button md-accent md-raised" aria-label="SAVE"
                 ng-disabled="folderForm.$invalid || folderForm.$pristine" >
        SAVE
      </md-button>


    </md-dialog-actions>
  </form>
</md-dialog>
