<!-- LIST VIEW -->
<table class="simple list-view">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th hide show-gt-sm >Type</th>
            <th hide-xs >Owner</th>
            <th hide-xs >Size</th>
            <th hide show-gt-md>Last Modified</th>
            <th hide-gt-md></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="folder in vm.folders | filter:global.search" ng-dblclick="vm.openFolder(folder.FolderName)" ng-click="vm.select(folder,'folder')"
            ng-class="{'selected' : vm.selected === folder}">
            <td class="file-icon">
                <md-icon md-font-icon="icon-folder"></md-icon>
            </td>
            <td class="name">{{folder.FolderName}}</td>
            <td class="type" hide show-gt-sm>Folder</td>
            <td class="owner" hide-xs>{{folder.Details.modifiedBy}}</td>
            <td class="size" hide-xs>{{folder.Details.size === '' ? '-': folder.Details.size}}</td>
            <td class="last-modified" hide show-gt-md>{{vm.dateConvert(folder.Details.dateModified)}}</td>
            <td class="show-details" hide-gt-md >
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleDetails(folder)" aria-label="Toggle details sidenav">
                    <md-icon md-font-icon="icon-information-outline"></md-icon>
                </md-button>
            </td>
        </tr>

        <tr ng-repeat="file in vm.files | filter:global.search" ng-click="vm.select(file,'file')" ng-class="{'selected' : vm.selected === file}">
            <td class="file-icon">
                <md-icon md-font-icon="icon-music-box"></md-icon>
            </td>
            <td class="name">{{file.FileName}}</td>
            <td class="type" hide show-gt-sm>{{file.FileName.split('.')[1]}}</td>
            <td class="owner" hide-xs>{{file.Details.modifiedBy}}</td>
          <td class="size" hide-xs>{{file.Details.size === '' ? '-': file.Details.size}}</td>
          <td class="last-modified" hide show-gt-md>{{vm.dateConvert(file.Details.dateModified)}}</td>
            <td class="show-details" hide-gt-md>
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleDetails(file)" aria-label="Details" translate translate-attr-aria-label="FM.DETAILS">
                    <md-icon md-font-icon="icon-information-outline"></md-icon>
                </md-button>
            </td>
        </tr>
    </tbody>
</table>
<!-- / LIST VIEW -->
