<md-dialog class="card-dialog" aria-label="Card Dialog" ng-cloak>

  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Create Queue</span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                 translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form ng-submit="vm.createQueue(vm.queue)"  name="createForm" class="md-inline-form" novalidate>
  <md-dialog-content ms-scroll>
    <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
      <!-- CONTENT -->
      <div class="content" layout="column">
        <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <input type="text" name="name" min="5" max="35" ng-model="vm.queue.name"
                     placeholder="Name"
                     required>
              <div ng-messages="createForm.name.$error" ng-show="createForm.name.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Name Cannot be null.</span>
                </div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <md-checkbox ng-model="vm.queue.automatic_work">
                <span>Automatic Work</span>
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <md-checkbox require-if-true ng-model="vm.queue.enable_wrapup_time">
                <span>Wrapup Time Enable</span>
              </md-checkbox>
            </md-input-container>
            <md-input-container flex>
              <input type="number" name="wrapup_time" min="0"  ng-disabled="!vm.queue.enable_wrapup_time" ng-model="vm.queue.wrapup_time"
                     placeholder="Wrapup Time"  requireiftrue="{{vm.queue.enable_wrapup_time?'true':'false'}}"
                    >
              <div ng-messages="createForm.wrapup_time.$error" ng-show="vm.queue.enable_wrapup_time && createForm.wrapup_time.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Wrapup Time Cannot be null.</span>
                </div>
              </div>
            </md-input-container>


          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <md-select name="queueing_model" required="" ng-model="vm.queue.queueing_model" placeholder="Select Queueing Model" >
                <md-option ng-value="sk.id" ng-repeat="sk in vm.queuingModel">{{sk.name}}</md-option>
              </md-select>
              <div ng-messages="queue.queueing_model.$error" ng-show="queue.queueing_model.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Select One Option.</span>
                </div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <md-select ng-model="vm.queue.prompt" placeholder="Select a Prompt" >
                <md-option ng-value="sk.id" ng-repeat="sk in vm.promptlList">{{sk.name}}</md-option>
              </md-select>
              <div ng-messages="queue.prompt.$error" ng-show="queue.prompt.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Select One Prompt.</span>
                </div>
              </div>
            </md-input-container>


          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <div flex="30" layout layout-align="center center">
                <span class="md-body-1">Service Level</span>
              </div>
              <div>

                <md-slider flex="60" min="0" max="10" md-discrete="" ng-model="vm.queue.service_level" aria-label="service_level" class=""></md-slider>
              </div>

            </md-input-container>
            <md-input-container flex>
              <div flex="50" layout layout-align="center center">
                <span class="md-body-1">Service Level Percentage</span>
              </div>
              <div>

                <md-slider flex="60" min="0" max="100" md-discrete ng-model="vm.queue.service_level_percentage" aria-label="service_level_percentage" class="md-primary"></md-slider>
              </div>

            </md-input-container>

          </div>
      </div>

    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="space-between center">
    <md-button type="submit"  ng-disabled="createForm.$invalid || createForm.$pristine" class="save-button md-accent md-raised" aria-label="Create">
      Create
    </md-button>


  </md-dialog-actions>
  </form>
</md-dialog>




