<!-- BOARD -->
<div id="board" ng-class="vm.board.settings.color+'-100-bg'" ui-sortable="vm.sortableListOptions"
     ng-model="vm.queueList" layout="row">

  <!-- LIST -->
  <div class="list-wrapper"   ng-repeat="list in vm.queueList track by list.id">

    <div class="list md-whiteframe-1dp" layout="column">

      <!-- LIST HEADER -->
      <div class="list-header" layout="row" layout-align="space-between center">

        <div class="list-header-name">
          <span >{{list.name}}</span>
        </div>

        <md-menu md-offset="0 48px" class="options list-header-option-button">

          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event,vm.queueList)" aria-label="Options"
                     translate translate-attr-aria-label="SB.OPTIONS">
            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content class="options-menu-content" width="4">
            <md-menu-item>
              <md-button ng-click="vm.openEditQueueDialog($event,list)" aria-label="Edit Queue"
                >
                <md-icon md-font-icon="icon-pencil" md-menu-align-target></md-icon>
                <span>Edit Queue</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.deleteQueue($event,list.id)" aria-label="Remove Queue"
                >
                <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                <span >Remove Queue</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>

        </md-menu>

      </div>
      <!-- / LIST HEADER -->

      <!-- LIST CONTENT -->
      <div class="list-content" ms-scroll>

        <div ng-if="list.queueing_model===1"  class="list-cards"  ng-model="list.skillId">

          <!-- CARD --> <!--| filter: vm.cardFilter track by $index-->
          <div class="list-card md-whiteframe-3dp"  ng-repeat="cardId in list.skillId">


            <div class="list-card-details">

              <!-- CARD SORT HANDLE -->
              <div class="list-card-sort-handle">
                <md-icon md-font-icon="icon-cursor-move" class="icon s16"></md-icon>
              </div>
              <!-- /CARD SORT HANDLE -->



              <!-- CARD NAME -->

              <!-- / CARD NAME -->
              <div class="list-title" layout="row">
                <h3 >{{vm.getSkillName(cardId.id)}}</h3>
                <md-tooltip md-direction="top"><span>Skill level: </span>{{cardId.skill_level}}</md-tooltip>
                <!--div  layout="row" layout-align="end center">
                  &lt;!&ndash; CARD ATTACHMENT &ndash;&gt;
                  <md-button ng-click="vm.deleteCard(cardId,list.id,'skill')" class="md-icon-button deleteButton" aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span >Delete</span></md-tooltip>
                  </md-button>
                  &lt;!&ndash; / CARD ATTACHMENT &ndash;&gt;




                </div>-->
              </div>


              <div class=" deleteButton list-card-footer" layout="row" layout-align="space-between center">
                <!-- CARD ATTACHMENT -->
                <md-button ng-click="vm.deleteCard(cardId,list.id,'skill')" class="md-icon-button " aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
                  <md-icon md-font-icon="icon-delete"></md-icon>
                  <md-tooltip><span >Delete</span></md-tooltip>
                </md-button>

                <!-- / CARD ATTACHMENT -->
              </div>

            </div>

          </div>


          <!-- / CARD -->
        </div>
        <div ng-if="list.queueing_model===2" class="list-cards" ui-sortable="vm.sortableCardOptions" ng-model="list.agentId">

          <div  class="list-card md-whiteframe-3dp"
                ng-repeat="cardId in list.agentId"
                ng-click="vm.openCardDialog($event, cardId)">

            <!-- CARD DETAILS -->
            <div class="list-card-details">

              <!-- CARD SORT HANDLE -->
              <div class="list-card-sort-handle">
                <md-icon md-font-icon="icon-cursor-move" class="icon s16"></md-icon>
              </div>


              <!-- CARD NAME -->

              <!-- / CARD NAME -->
              <!-- CARD MEMBERS -->
              <div class="list-card-members" layout="row" layout-align="space-between center">
                <!--<md-tooltip md-direction="top"><div class="name">{{vm.agent.first_name+' '+vm.agent.last_name}}</div></md-tooltip>
-->
                <input type="hidden" ng-bind="vm.agent=vm.getAgentName(cardId)" ng-model="vm.agent"/>
                <div class="list-card-member" layout-align="start center">

                  <md-list >
                    <md-list-item class="md-2-line contact-item">
                      <img ng-src="{{vm.agent.avatar ? vm.agent.avatar:'assets/images/avatars/profile.jpg'}}" class="md-avatar" alt="{{vm.agent.first_name}}" />
                      <div>
                        <md-icon md-font-icon class=" icon status s16 {{vm.agent.status==='ready'?'icon-checkbox-marked-circle':vm.agent.status==='talking'?'icon-clock':vm.agent.status==='notready'?'icon-checkbox-blank-circle-outline':vm.agent.status==='logout'?'icon-minus-circle':''}}"
                                 ng-style="{'margin-top':'35px','margin-left':'-30px','color':vm.agent.status==='ready'?'green':vm.agent.status==='talking'?'orange':vm.agent.status==='notready'?'red':vm.agent.status==='logout'?'blue':'' }"
                                 >
                          <md-tooltip md-direction="right">{{vm.agent.status}}</md-tooltip>
                        </md-icon>
                      </div>
                      <div class="md-list-item-text compact">
                        <h3> <md-tooltip md-direction="left">Name</md-tooltip><span>{{vm.agent.first_name +' '+vm.agent.last_name}}</span>
                          <!-- <md-icon md-font-icon ng-class="vm.agent.status==='ready'?'icon-checkbox-marked-circle':vm.agent.status==='talking'?'icon-minus-circle':vm.agent.status==='notready'?'icon-checkbox-marked-circle':vm.agent.status==='logout'?'icon-clock':''"
                                    ng-style="{'color':vm.agent.status==='ready'?'green':vm.agent.status==='talking'?'orange':vm.agent.status==='notready'?'red':vm.agent.status==='logout'?'blue':'' }"
                                    class="icon status s16">
                             <md-tooltip md-direction="right">{{vm.agent.status}}</md-tooltip>
                           </md-icon>-->
                        </h3>
                        <h4 ><span>{{vm.agent.userId}} <md-tooltip md-direction="left">Agent Id</md-tooltip></span> <span class="icon-headphones">{{vm.agent.extension}}</span>
                          <md-progress-linear class="md-info" md-mode="determinate" value="{{vm.agent.competence_level*10}}">
                          </md-progress-linear>
                          <md-tooltip md-direction="right"><span>Competence level: </span>{{vm.agent.competence_level}}</md-tooltip>
                        </h4>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
                <div  layout="row" layout-align="end center">





                </div>
              </div>
              <!-- / CARD MEMBERS -->
              <input type="hidden" ng-value="list.agentId" ng-model="vm.groupOrder"/>


            </div>
            <!-- / CARD DETAILS -->
            <div class=" deleteButton list-card-footer" layout="row" layout-align="space-between center">
              <!-- CARD ATTACHMENT -->
              <md-button ng-click="vm.deleteCard(cardId,list.id,'group')" class="md-icon-button " aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span >Delete</span></md-tooltip>
              </md-button>

              <!-- / CARD ATTACHMENT -->
            </div>

          </div>
        </div>
      </div>
      <!-- / LIST CONTENT -->

      <!-- NEW CARD BUTTON-->
      <div class="list-footer list-add-card" ms-sb-add-skill ms-queue="list"  ms-skill-id="list.id" md-ink-ripple
           layout="row" layout-align="start center">
        <div>
          <i class="icon-plus s20"></i>
        </div>
        <span ng-if="list.queueing_model===1">Add Skill</span>
        <span ng-if="list.queueing_model===2" >Add Agent</span>
      </div>
      <!-- / NEW CARD BUTTON-->

    </div>
  </div>
  <!-- / LIST -->
  <!-- NEW LIST BUTTON-->

   <!-- <div class="list new-list md-whiteframe-1dp">-->

    <md-fab-trigger class="fabIcon ">
      <md-button aria-label="menu" class="md-fab md-warn" ng-click="vm.openCreateQueueDialog($event)">
        <md-tooltip>Create Queue</md-tooltip>
        <md-icon md-font-icon="icon-plus"></md-icon>
      </md-button>
    </md-fab-trigger>

    <!--</div>-->


  <!--  / NEW LIST BUTTON-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z8"  md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Details</h1>
    </md-toolbar>
    <md-content ng-controller="RightCtrl" ng-include="'app/adminPanel/queue/detail.html'" layout-padding>


    </md-content>
  </md-sidenav>
</div>
<!-- / BOARD -->
