<div class="md-title sidenav-title">Schedules</div>

<div class="cards">
  <div ng-if="vm.events[0].length <= 0">
    <span translate="SB.NO_SCHEDULED_CARD">There is no scheduled.</span>
  </div>
  <!-- CARD -->
  <div class="card" ng-click="vm.eventDetail(card,$event)" layout="row" ng-repeat="card in vm.events[0]">


    <!-- CARD DATE -->
    <md-button class="md-raised card-date" >
      <div class="day-in-week">{{card.start | date:'EEEE'}}</div>
      <div class="day">{{card.start | date:'d' }}</div>
      <div class="month-year">{{card.start | date:'MMM yyyy'}}</div>
    </md-button>
    <!-- / CARD DATE -->

    <!-- CARD NAME -->
    <div class="card-title" flex layout="column" layout-align="center start"
         >
      <span>{{card.title}}</span>

    </div>
    <!-- / CARD NAME -->
    <md-divider ng-if="!$last"></md-divider>
  </div>
  <!-- / CARD -->

</div>
