.list-card .deleteButton{
  display: none;
}
.list-card:hover .deleteButton{
  display: block;
}
md-datepicker{
  background-color: inherit;
}
md-dialog.card-dialog  md-dialog-content .description {
   padding-bottom: 0;
  margin-top: 40px;
}
.selectColor{
  margin-top: 72px;
}
.colorPicker{
  margin-left:40px;
  max-height: 30px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #039BE5;
  display: inline-block;

}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: black;

}
.fabIcon{
  box-sizing: border-box;
  margin: 25px;
  position: fixed;
  white-space: nowrap;
  z-index: 30;
  padding-left: 0;
  list-style: none;
  right: 0;
  bottom: 0;
}
.addSkillAndGroup{
  margin-left: 26px;
  width: 198px;
}
.tags {
  font-size: 12px;

  .tag {
   // border-radius: 2px;
    margin: 8px 4px 0 0;
    padding: 3px 8px;
    background-color: transparent;
    border-radius: 50%;

    .tag-color {
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
    }
  }
}
