<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">


  <div>
    <div class="title">{{vm.selected.FileName}}</div>
    <div class="subtitle secondary-text"><span >Edited</span>: {{vm.selected.Details.dateModified | limitTo:'22':'0'}}</div>
  </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>
  <div class="toolbar" layout="row" layout-align="end center">
    <!-- Announcement -->
    <md-menu md-offset="0 48" class="labels">
      <md-button class="md-icon-button" aria-label="Label"
                 ng-click="vm.labelTabIndex = 0;$mdOpenMenu($event)">
        <md-icon md-menu-origin md-font-icon="icon-flag"></md-icon>
      </md-button>

      <md-menu-content class="labels-menu-content" width="4" ms-scroll>
        <md-tabs md-selected="vm.languageTabIndex" md-dynamic-height>

          <!-- SELECT LABEL -->
          <md-tab>
            <md-tab-body>
              <md-tooltip>Languages</md-tooltip>
              <md-menu-item>
                <md-input-container  class="no-errors-spacer" md-no-float>
                  <input  class="serInput" placeholder="Search Languages" type="text"
                          ng-model="vm.languageSearchText" autocomplete="off"
                          translate-attr-palceholder="SB.SEARCH_LABELS">
                </md-input-container>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="label " ng-repeat="label in vm.languageList | filter: vm.filterLanguage" >
                <md-button class="label-toggle-button" md-prevent-menu-close
                           ng-click="vm.toggleInArray(label.id,  vm.selected.languages)"
                           aria-label="Toggle Label" translate
                           translate-attr-aria-label="SB.TOGGLE_LABEL">
                  <div layout="row" layout-align="space-between center">
                    <span>{{label.name}}</span>
                    <i ng-if="vm.exists(label.id, vm.selected.languages)" class="icon-check s16"></i>
                  </div>
                </md-button>

              </md-menu-item>

            </md-tab-body>
          </md-tab>
          <!-- / SELECT LABEL -->





        </md-tabs>
      </md-menu-content>

    </md-menu>
    <!-- /Announcement -->
    <md-button class="md-icon-button" ng-click="vm.deleteRe(vm.selected,vm.selected.type)" aria-label="Delete" translate
               translate-attr-aria-label="FM.DELETE">
      <md-icon md-font-icon="icon-delete"></md-icon>
      <md-tooltip><span >Delete</span></md-tooltip>
    </md-button>

    <md-button class="md-icon-button" aria-label="Download" >
      <md-icon md-font-icon="icon-download"></md-icon>
      <md-tooltip><span >Download</span></md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Refresh" >
      <md-icon md-font-icon="icon-refresh"></md-icon>
      <md-tooltip><span >Refresh</span></md-tooltip>
    </md-button>
    <!--<md-button class="md-icon-button" aria-label="More" >
      <md-icon md-font-icon="icon-dots-vertical"></md-icon>
      <md-tooltip><span >More</span></md-tooltip>
    </md-button>-->
  </div>
  <div class="file-details" >
    <div ng-show="vm.selected.type==='file'" class="preview file-icon" layout="row" layout-align="center center">

      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools player" >

          <!-- Play -->
          <md-button flex="20" class="md-icon-button" ng-click='vm.sound.paused ? vm.sound.play() : vm.sound.pause()' aria-label="player">
            <md-icon md-font-icon class="{{vm.sound.paused ?'icon-play-circle':'icon-pause-circle'}}"></md-icon>
            <md-tooltip>{{vm.sound.paused ?'play':'pause'}}</md-tooltip>
          </md-button>
          <!-- / Play -->
          <!-- Restart -->
          <md-button flex="20" class="md-icon-button" ng-click='vm.sound.restart()' aria-label="stop">
            <md-icon md-font-icon="icon-backup-restore"></md-icon>
            <md-tooltip>restart</md-tooltip>
          </md-button>
          <!-- / Restart -->
          <!-- mute -->
          <md-button flex="20" class="md-icon-button" ng-click="vm.sound.muting = !vm.sound.muting" aria-label="mute">
            <md-icon md-font-icon class="{{vm.sound.muting?'icon-volume-off':'icon-volume'}}"></md-icon>
            <md-tooltip>{{vm.sound.muting?'mute':'unmute'}}</md-tooltip>
          </md-button>
          <!-- / mute -->
          <md-slider flex="40" class="md-primary "  md-discrete step="0.01" min="0" max="1"  ng-model="vm.sound.volume">
            <md-tooltip>volume</md-tooltip>
          </md-slider>
        </div>

        <md-slider  class="md-primary slider" md-discrete step="0.01" min="0" max="1"  ng-model="vm.sound.progress">
          <md-tooltip>progress</md-tooltip>
        </md-slider>

      </md-toolbar>
    </div>
    <table>
      <tr class="type">
        <th >Type</th>
        <td>{{vm.selected.type}}
        </td>
      </tr>

      <tr class="size">
        <th >Size</th>
        <td class="size" hide-xs>{{vm.selected.Details.size === '' ? '-': vm.selected.Details.size}}</td>
      </tr>

      <tr class="location">
        <th >Location</th>
        <td>{{vm.selected.path}}</td>
      </tr>

      <tr class="owner">
        <th>Owner</th>
        <td>{{vm.selected.Details.modifiedBy}}</td>
      </tr>

      <tr class="modified">
        <th >Modified</th>
        <td>{{vm.dateConvert(vm.selected.Details.dateModified)}}</td>
      </tr>
      <tr>
        <th ng-show="vm.selected.languages.length>0">Languages</th>
        <td>
          <div ng-if="vm.selected.languages.length > 0" class="list-card-members"
               layout="row">

            <div class="list-card-member"
                 ng-repeat="lang in vm.selected.languages">

              <img class="list-card-member-avatar"
                   ng-src="assets/images/flags/{{vm.languageName(lang).flag}}.png">

              <md-tooltip>
                <div class="name">{{vm.languageName(lang).name}}</div>
              </md-tooltip>
            </div>

          </div>
        </td>
      </tr>
      <!-- <tr class="opened">
           <th translate="FM.OPENED">Opened</th>
           <td>{{vm.selected.opened}}</td>
       </tr>

       <tr class="created">
           <th translate="FM.CREATED">Created</th>
           <td>{{vm.selected.created}}</td>
       </tr>-->
    </table>
  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
