#file-manager {

  // Sidenav
  .sidenav {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    padding: 0;

    &.md-locked-open {
      width: 250px;
      min-width: 250px;
      max-width: 250px;

    }

    .header {
      height: 125px;
      min-height: 125px;
      max-height: 125px;
      padding: 24px 24px;

      .title {
        font-size: 15px;
        margin-bottom: 8px;
      }

      .subtitle {

      }
    }

    .content {
      position: relative;
      background: #FFFFFF;

      .file-details {

        .preview {
          background: #FFFFFF;
          height: 150px;
        }

        .offline-switch {
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          font-weight: 500;

          md-switch {
            margin: 0;

            .md-container {
              margin: 0;
            }
          }
        }

        .title {
          padding: 24px 24px 16px 24px;
        }
        .slider{
          margin-top:-25px;

        }
        table {
          padding: 0 24px;
          width: 100%;
          text-align: left;

          tr {

            th, td {
              padding: 10px 8px;
            }

            th {

            }

            td {

            }

            &.type {
              text-transform: capitalize;
            }

            &.size {
            }

            &.location {
            }

            &.owner {
              text-transform: capitalize;
            }

            &.opened {
            }

            &.created {
            }
          }
        }
      }
    }
  }
  .file-language{

    width:150px;
    max-width:150px;
    min-width:150px;
    margin-left: 20px;

    h3{
      margin-left: 10px;
    }
    .divBreak{
      float: left;
      margin-left: 30px;
      list-style: none;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

  #file-manager {

    .sidenav {

      .header {
        height: 160px;
        min-height: 160px;
        max-height: 160px;
      }
    }
  }
}
