<md-dialog  class="card-dialog" aria-label="New Message" ng-cloak>
  <form name="eventForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent ">
      <div class="md-toolbar-tools" >
        <!-- Title -->
        <span class="title">{{vm.dialogTitle}}</span>
        <!-- /Title -->
        <!-- Announcement -->
        <md-menu md-offset="0 48" class="labels">
          <md-button class="md-icon-button" aria-label="Label"
                     ng-click="vm.labelTabIndex = 0;$mdOpenMenu($event)">
            <md-icon md-menu-origin md-font-icon="icon-music-box"></md-icon>
          </md-button>

          <md-menu-content class="labels-menu-content" width="4" ms-scroll>
            <md-tabs md-selected="vm.labelTabIndex" md-dynamic-height>

              <!-- SELECT LABEL -->
              <md-tab>
                <md-tab-body>
                  <md-tooltip>Announcements</md-tooltip>
                  <md-menu-item>
                    <md-input-container  class="no-errors-spacer" md-no-float>
                      <input  class="serInput" placeholder="Search Announcement..." type="text"
                              ng-model="vm.labelSearchText" autocomplete="off"
                              translate-attr-palceholder="SB.SEARCH_LABELS">
                    </md-input-container>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item class="label " ng-repeat="label in vm.promptList | filter: vm.filterAnnouncement" >
                    <md-button class="label-toggle-button" md-prevent-menu-close
                               ng-click="vm.toggleInArray(label.id,  vm.easyAnnouncement.announcements)"
                               aria-label="Toggle Label" translate
                               translate-attr-aria-label="SB.TOGGLE_LABEL">
                      <div layout="row" layout-align="space-between center">
                        <span>{{label.name}}</span>
                        <i ng-if="vm.exists(label.id, vm.easyAnnouncement.announcements)" class="icon-check s16"></i>
                      </div>
                    </md-button>

                  </md-menu-item>

                </md-tab-body>
              </md-tab>
              <!-- / SELECT LABEL -->





            </md-tabs>
          </md-menu-content>

        </md-menu>
        <!-- /Announcement -->
        <!-- Region -->
        <md-menu md-offset="0 48" class="regions">
          <md-button class="md-icon-button" aria-label="Label"
                     ng-click="vm.labelTabIndex = 0;$mdOpenMenu($event)">
            <md-icon md-menu-origin md-font-icon="icon-home-variant"></md-icon>
          </md-button>

          <md-menu-content class="labels-menu-content" width="4" ms-scroll>
            <md-tabs md-selected="vm.labelTabIndex" md-dynamic-height>

              <!-- SELECT LABEL -->
              <md-tab>
                <md-tab-body>
                  <md-tooltip>Regions</md-tooltip>
                  <md-menu-item>
                    <md-input-container class="no-errors-spacer" md-no-float>
                      <input placeholder="Search Region..." type="text"
                             ng-model="vm.regionSearchText" autocomplete="off"
                             translate-attr-palceholder="SB.SEARCH_LABELS">
                    </md-input-container>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item class="label " ng-repeat="label in vm.regionList | filter: vm.filterRegion" >
                    <md-button class="label-toggle-button" md-prevent-menu-close
                               ng-click="vm.toggleInArray(label.id,  vm.easyAnnouncement.regions)"
                               aria-label="Toggle Label" translate
                               translate-attr-aria-label="SB.TOGGLE_LABEL">
                      <div layout="row" layout-align="space-between center">
                        <span>{{label.name+'('+label.prefix+')'}}</span>
                        <i ng-if="vm.exists(label.id, vm.easyAnnouncement.regions)" class="icon-check s16"></i>
                      </div>
                    </md-button>

                  </md-menu-item>

                </md-tab-body>
              </md-tab>
              <!-- / SELECT LABEL -->





            </md-tabs>
          </md-menu-content>
        </md-menu>
        <!-- Region -->
        <span flex></span>
        <!-- CLOSE DIALOG BUTTON -->
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
        <!-- /CLOSE DIALOG BUTTON -->
      </div>

    </md-toolbar>
    <!--{{vm.easyAnnouncement}}-->

    <md-dialog-content ms-scroll >
      <div layout="row" class="date-row">
        <md-input-container flex="45" class="md-block">
          <label >Name</label>
          <input name="name" ng-model="vm.easyAnnouncement.name" autocomplete="off" required>
          <div ng-messages="eventForm.name.$error" ng-show="eventForm.name.$touched" role="alert">
            <div ng-message="required">
              <span >Name cannot be null</span>
            </div>
          </div>
        </md-input-container>
        <div flex="5"></div>
        <md-input-container flex="45" class="md-block">
          <label >Placeholder</label>
          <input name="placeholder" autocomplete="off" ng-model="vm.easyAnnouncement.placeholder" >
        </md-input-container>



        <input type="hidden" ng-model="vm.easyAnnouncement.placeHolder"/>
      </div>
      <div layout="row" class="date-row " >
        <div flex="45">
          <md-chips disabled="true"  class="label-chips"  md-require-match="true"
                    ng-model="vm.easyAnnouncement.announcements" md-autocomplete-snap
                    md-require-match="true" placeholder="Announcements" md-transform-chip="$chip.id">

            <md-autocomplete
              md-selected-item="vm.selectedLabel"
              md-search-text="vm.searchLabelText"
              md-items="label in vm.announcementQuerySearch(vm.searchLabelText)"
              md-item-text="label.name"
              placeholder="Add Announcements">
              <span md-highlight-text="vm.searchLabelText">{{label.name}}</span>
            </md-autocomplete>
            <md-chip-template class="member-chip">
              <span>{{vm.promptName($chip)}} </span>
            </md-chip-template>
            <button md-chip-remove class="md-primary">
              <md-icon md-font-icon="icon-close" class="s18"></md-icon>
            </button>

          </md-chips>
        </div>
        <div flex="5"></div>
        <div flex="45">
          <lable ng-show="vm.easyAnnouncement.regions.length>0"> Regions</lable>
          <md-chips disabled="true" readonly="false" class="label-chips md-mini"  md-require-match="true" ng-model="vm.easyAnnouncement.regions" md-autocomplete-snap
                    md-require-match="true" placeholder="Announcements" md-transform-chip="$chip.id">

            <md-autocomplete
              md-selected-item="vm.selectedRegion"
              md-search-text="vm.searchRegionText"
              md-items="region in vm.regionQuerySearch(vm.searchRegionText)"
              md-item-text="region.name"
              placeholder="Add region">
              <span md-highlight-text="vm.searchRegionText">{{region.name}}</span>
            </md-autocomplete>
            <md-chip-template class="member-chip">
              <span>{{vm.regionName($chip)}} </span>
            </md-chip-template>
            <button md-chip-remove class="md-primary">
              <md-icon md-font-icon="icon-close" class="s18"></md-icon>
            </button>

          </md-chips>





        </div>


      </div>
      <div layout="row"  class="date-row">
        <div class="description" flex="45">

          <md-input-container  class="md-block">
            <label >Description</label>
            <textarea columns="1" md-maxlength="150" rows="5" ng-model="vm.easyAnnouncement.description" ></textarea>
          </md-input-container>

        </div>
        <div flex="5"></div>
        <div class="selectColor" layout="row">
          <div flez="20">Select Color</div>
          <div class="colorPicker" ng-style="{'background-color':vm.easyAnnouncement.event.color}">
            <color-picker flex="80" ng-model="vm.easyAnnouncement.event.color"  color-picker-format="'hex'" ></color-picker>
          </div>
        </div>
      </div>
      <div  class="row" class="date-row ">


        <div date-pair>
          <div layout="row"  class="date-row">

            <md-datepicker name="start"   date-directive md-min-date="vm.minDate" required ng-change="vm.setEndDate()"
                           ng-model="vm.easyAnnouncement.event.start" md-placeholder="Start Date"></md-datepicker>
            <div ng-messages="eventForm.start.$error"   role="alert">
              <div ng-message="required">
                <span ><small>Start Date cannot be null</small></span>
              </div>
            </div>

            <md-input-container flex md-no-float>
              <input time-picker name="startTime"  class="time start" ng-model="vm.easyAnnouncement.event.startTime"
                     ng-disabled="vm.easyAnnouncement.event.allDay"  placeholder="Start Time"  >
              <div ng-messages="eventForm.startTime.$error" ng-show="eventForm.startTime.$touched && !vm.easyAnnouncement.event.allDay" role="alert">
                <div ng-message="required">
                  <span ><small>Start Time cannot be null</small></span>
                </div>
              </div>
            </md-input-container>


          </div>

          <div layout="row" class="date-row">
            <md-datepicker name="end"  date-directive md-min-date="vm.minEndDate"   ng-model="vm.easyAnnouncement.event.end" md-placeholder="End Date"></md-datepicker>

            <md-input-container flex  md-no-float>
              <input time-picker name="endTime"  ng-model="vm.easyAnnouncement.event.endTime" class="time end"  ng-disabled="vm.easyAnnouncement.event.allDay"  placeholder="End Time"  >
              <div ng-messages="eventForm.endTime.$error" ng-show="eventForm.endTime.$touched && !vm.easyAnnouncement.event.allDay" role="alert">
                <div ng-message="required">
                  <span ><small>End Time cannot be null</small></span>
                </div>
              </div>
            </md-input-container>
          </div>


        </div>

        <div layout="row" class="date-row">
          <div flex="50">
            <md-list class="all-day">
              <md-list-item >
                <p >Repeat</p>
                <md-switch class="md-secondary" ng-model="vm.easyAnnouncement.event.repeat" aria-label="Repeat"></md-switch>
              </md-list-item>
            </md-list>
          </div>

          <div flex="50">
            <md-list class="all-day">
              <md-list-item>
                <p >All Day</p>
                <md-switch class="md-secondary" ng-model="vm.easyAnnouncement.event.allDay" aria-label="All Day"></md-switch>
              </md-list-item>
            </md-list>
          </div>
        </div>
        <div layout="row" ng-if="vm.easyAnnouncement.event.repeat" class="date-row">
          <md-radio-group ng-required="vm.easyAnnouncement.event.repeat"  name="repeatType" flex ng-model="vm.easyAnnouncement.event.repeatType">
            <md-radio-button flex="25"  value="daily" >Daily</md-radio-button>
            <md-radio-button flex="25" value="weekly" >Weekly</md-radio-button>
            <md-radio-button flex="25" value="monthly"> Monthly </md-radio-button>
            <div ng-messages="eventForm.repateType.$error" ng-show="vm.easyAnnouncement.event.repeat"  role="alert">
              <div ng-message="required">
                <span >Select one value</span>
              </div>
            </div>
          </md-radio-group>

        </div>
        <div layout="row" ng-if="vm.easyAnnouncement.event.repeat && vm.easyAnnouncement.event.repeatType==='weekly'" class="date-row">
          <div layout="row" layout-wrap>
            <div ng-repeat="item in vm.weekly" class="standard"  flex="20">
              <md-checkbox   ng-model="vm.easyAnnouncement.event.weekly[item.id]" ng-value="item.id"  >
                {{ item.name }}
              </md-checkbox>
            </div>
          </div>

        </div>
        <div layout="row" ng-if="vm.easyAnnouncement.event.repeat && vm.easyAnnouncement.event.repeatType==='monthly'" class="date-row">
          <md-input-container flex>
            <label>Select Days</label>
            <md-chips   ng-model="vm.easyAnnouncement.event.monthly" placeholder="Enter a day" secondary-placeholder="Enter a day">

              <input ng-if="vm.easyAnnouncement.event.repeatType==='monthly'" required name="monthly"  type="number" max="31" min="1" placeholder="Enter a day">
            </md-chips>
            <div ng-messages="eventForm.monthly.$error" ng-show="eventForm.monthly.$touched" role="alert">
              <div ng-message="required">
                <span ><small>Start Time cannot be null</small></span>
              </div>
            </div>
          </md-input-container>
          <!-- <md-chips-select name="monthly" ng-model="vm.easyAnnouncement.event.monthly"
                            placeholder="Select Days" select-items="vm.days" main-title="day"></md-chips-select>-->
        </div>



      </div>



    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button ng-click="vm.saveEvent()" class="save-button md-accent md-raised" aria-label="SAVE"
                 ng-disabled="eventForm.$invalid || eventForm.$pristine" >
        SAVE
      </md-button>

      <md-button ng-if="vm.dialogTitle!='Add Easy Announcement'" class="md-icon-button" aria-label="Delete" >
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span >Delete</span></md-tooltip>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
