<div layout="row" id="file-manager" class="page-layout page-layout2 simple right-sidenav right-sidenav2">
  <div class="center" layout="column" flex="30">
    <md-content class="content"  ms-scroll>
      <div class="todo-items"  ng-model="vm.agentList">

        <div class="todo-item"  md-ink-ripple layout="row" layout-align="start center"
             ng-click="vm.select(application)"
             ng-repeat="application in vm.applications">

          <div layout="row" flex>
            <div class="info" flex>
              <div class="title" >
          <span>
          <md-tooltip md-direction="top">{{application.enabled?'Enabled':'Disabled'}}</md-tooltip>
          </span>
          <span>{{application.applicationName}}({{application.id}})
          <md-tooltip md-direction="top">Name(Id)</md-tooltip></span>
              </div>

              <div class="notes" layout="row">
                <div>
                  <md-tooltip>Type</md-tooltip>
                  {{application.type}}
                </div>
                <div>
                  <md-tooltip>Max Sessions</md-tooltip>
                  <md-icon md-font-icon="icon-timer" class="s16"></md-icon>
                  {{application.maxsession}}
                </div>


              </div>
            </div>

          </div>


        </div>

      </div>
      <md-fab-trigger class="fabIcon ">
        <md-button aria-label="menu" class="md-fab md-warn" ng-click="vm.openCreateApplicationDialog($event)">
          <md-tooltip>Create Application</md-tooltip>
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
      </md-fab-trigger>
    </md-content>

  </div>
  <md-sidenav class="center" layout="column" flex="70" class="sidebar" md-is-locked-open="$mdMedia('gt-xs')"
              md-component-id="details-sidenav"
              ng-include="'app/adminPanel/application/sidenavs/sidenav.html'" ms-scroll
              ms-sidenav-helper>
  </md-sidenav>
</div>







