<md-dialog class="event-detail-dialog" aria-label="New Message">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools">
      <span class="title">{{vm.calendarEvent.title}}</span>
      <span flex></span>
      <md-button class="edit-event-button md-fab md-warn"
                 ng-click="vm.editEvent(vm.calendarEvent)" aria-label="Edit event"
                 translate translate-attr-aria-label="CALENDAR.EDIT_EVENT">
        <md-icon md-font-icon="icon-pencil"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>

    <div class="event-details" layout="column">

      <div class="event-detail-row" layout="row" layout-align="start start">
        <md-icon md-font-icon="icon-clock"></md-icon>
        <div layout="column" flex>
                    <span class="h4">{{vm.calendarEvent.start.format('MMMM Do YYYY, h:mm:ss a')}} <span
                      ng-if="vm.calendarEvent.end">-</span> {{vm.calendarEvent.end.format('MMMM Do YYYY, h:mm:ss a')}}</span>
          <span ng-show="vm.calendarEvent.repeat" class="secondary-text">Repeate : {{vm.calendarEvent.repeatType || 'Does not repeat'}}</span>
        </div>


      </div>

      <div layout="row" ng-show="vm.calendarEvent.announcements.length>0">
        <div layout="column">
          <h3><md-icon class="icon-music-box"></md-icon> Announcements</h3>
          <span ng-repeat="an in vm.calendarEvent.announcements">{{vm.promptName(an)}}</span>
        </div>
      </div>
      <div layout="row" ng-show="vm.calendarEvent.regions.length>0">
        <div layout="column">
          <h3><md-icon class="icon-home"></md-icon>Regions</h3>
          <span class="secondary-text" ng-repeat="re in vm.calendarEvent.regions">{{vm.regionName(re)}}</span>

        </div>
      </div>





    </div>

  </md-dialog-content>
</md-dialog>
