<div id="file-manager" class="page-layout page-layout1 simple right-sidenav right-sidenav1" layout="row">

    <!-- MAIN SIDENAV (EXTRA SIDENAV) -->
    <md-sidenav class="main-sidenav" md-component-id="main-sidenav"
                ng-include="'app/adminPanel/prompt/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / MAIN SIDENAV (EXTRA SIDENAV) -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- HEADER -->
        <div class="header md-accent-bg">

            <div class="header-content" layout="column" layout-align="space-between">

                <!-- TOOLBAR -->
                <div class="toolbar" layout="row" layout-align="space-between">

                   <!-- <md-button class="md-icon-button main-sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')"
                               aria-label="Toggle Main Sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>-->

                    <div class="right-side" layout="row">
                        <!--<md-button class="md-icon-button" aria-label="Search" translate
                                   translate-attr-aria-label="FM.SEARCH">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip><span >Search</span></md-tooltip>
                        </md-button>-->

                       <!-- <md-button ng-if="vm.currentView === 'list'" class="md-icon-button"
                                   ng-click="vm.toggleView()"
                                   aria-label="view type" translate
                                   translate-attr-aria-label="FM.GRID_VIEW">
                            <md-icon md-font-icon="icon-view-module"></md-icon>
                            <md-tooltip><span >Grid View</span></md-tooltip>
                        </md-button>

                        <md-button ng-if="vm.currentView === 'grid'" class="md-icon-button" aria-label="view type"
                                   ng-click="vm.toggleView()" >
                            <md-icon md-font-icon="icon-view-headline"></md-icon>
                            <md-tooltip><span >List View</span></md-tooltip>
                        </md-button>-->
                    </div>
                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb text-truncate" layout="row" layout-align="start center">
                <span  ui-sref="app.prompts({id:'{{path==='Prompt'?'':path}}'})" data-ng-repeat="path in vm.path">{{path}}
                    <md-icon md-font-icon="icon-chevron-right" class="icon separator"></md-icon>
                </span>
                </div>
                <!-- / BREADCRUMB -->
            </div>

            <!-- ADD FILE BUTTON -->
             <div layout="row">
               <md-fab-speed-dial ng-hide="vm.hidden" md-direction="right" md-open="vm.isOpen"
                                  class="md-scale " ng-class="{ 'md-hover-full': vm.hover }"
                                  ng-mouseenter="vm.isOpen=true" ng-mouseleave="vm.isOpen=false">
                 <md-fab-trigger>
                   <md-button aria-label="menu" class="md-fab md-mini md-warn">
                     <!--<md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>-->

                     <md-icon  md-font-icon="icon-plus"></md-icon>
                   </md-button>
                 </md-fab-trigger>
                 <md-fab-actions>
                   <md-button aria-label="AddFolder"  ng-click="vm.showFolderDialog($event)" class="md-fab md-raised  md-accent md-mini">
                     <md-tooltip md-direction="right" md-visible="tooltipVisible"
                                 md-autohide="false">Add Folder</md-tooltip>
                     <md-icon md-font-icon class="icon-folder-plus"
                              aria-label="AddFolder"></md-icon>
                   </md-button>
                   <md-button aria-label="AddFile" ng-click="vm.showFileDialog($event)" class="md-fab  md-accent md-raised md-mini">
                     <md-tooltip md-direction="right" md-visible="tooltipVisible"
                                 md-autohide="false">Upload File</md-tooltip>
                     <md-icon md-font-icon="icon-music-box"  aria-label="AddFile"></md-icon>
                   </md-button>
                 </md-fab-actions>
               </md-fab-speed-dial>
             </div>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <md-content class="content" flex ms-scroll>
            <div ng-if="vm.currentView === 'grid'"
                 ng-include="'app/adminPanel/prompt/views/grid/grid-view.html'"></div>
            <div ng-if="vm.currentView === 'list'"
                 ng-include="'app/adminPanel/prompt/views/list/list-view.html'"></div>
        </md-content>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="details-sidenav"
                ng-include="'app/adminPanel/prompt/sidenavs/details/details-sidenav.html'" ms-scroll
                ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

</div>
