<md-dialog class="card-dialog" aria-label="Card Dialog" ng-cloak>

  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Create Application</span>
      <!-- language -->
      <md-menu md-offset="0 48" class="labels">
        <md-button class="md-icon-button" aria-label="Label"
                   ng-click="vm.labelTabIndex = 0;$mdOpenMenu($event)">
          <md-icon md-menu-origin md-font-icon="icon-flag"></md-icon>
        </md-button>

        <md-menu-content class="labels-menu-content" width="4" ms-scroll>
          <md-tabs md-application="vm.languageTabIndex" md-dynamic-height>

            <!-- SELECT LABEL -->
            <md-tab>
              <md-tab-body>
                <md-tooltip>Languages</md-tooltip>
                <md-menu-item>
                  <md-input-container  class="no-errors-spacer" md-no-float>
                    <input  class="serInput" placeholder="Search Languages" type="text"
                            ng-model="vm.languageSearchText" autocomplete="off"
                            translate-attr-palceholder="SB.SEARCH_LABELS">
                  </md-input-container>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item class="label " ng-repeat="label in vm.languageList | filter: vm.filterLanguage" >
                  <md-button class="label-toggle-button" md-prevent-menu-close
                             ng-click="vm.toggleInArray(label.id,  vm.application.languages)"
                             aria-label="Toggle Label" translate
                             translate-attr-aria-label="SB.TOGGLE_LABEL">
                    <div layout="row" layout-align="space-between center">
                      <span>{{label.name}}</span>
                      <i ng-if="vm.exists(label.id, vm.application.languages)" class="icon-check s16"></i>
                    </div>
                  </md-button>

                </md-menu-item>

              </md-tab-body>
            </md-tab>
            <!-- / SELECT LABEL -->





          </md-tabs>
        </md-menu-content>

      </md-menu>
      <!-- /language -->
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                 translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>

    </div>

  </md-toolbar>
  <form ng-submit="vm.createApplication(vm.application)"  name="createForm" class="md-inline-form" novalidate>
    <md-dialog-content ms-scroll>

      <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- CONTENT -->
        <div class="content" layout="column">
          <div layout="column" layout-gt-sm="row">


            <md-input-container flex>
              <input type="text" name="applicationName" min="1" ng-model="vm.application.applicationName"
                     placeholder="Name"
                     required>
              <div ng-messages="createForm.applicationName.$error" ng-show="createForm.applicationName.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Name Cannot be null.</span>
                </div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <input type="number" name="id" min="1" ng-model="vm.application.id"
                     placeholder="Id"
                     required>
              <div ng-messages="createForm.id.$error" ng-show="createForm.id.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Id Cannot be null.</span>
                </div>
              </div>
            </md-input-container>

          </div>
          <div layout="column" layout-gt-sm="row">

            <md-input-container flex>
              <input type="number" name="maxsession" min="0"
                     ng-model="vm.application.maxsession"
                     placeholder="Max Sessions" required
                >
              <div ng-messages="createForm.maxsession.$error" ng-show="createForm.maxsession.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Max Session Cannot be null.</span>
                </div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <md-select name="script" required="" ng-model="vm.application.script" placeholder="Select Script" >
                <md-option ng-value="script.FileName" ng-repeat="script in vm.scripts">{{script.FileName}}</md-option>
              </md-select>
              <div ng-messages="createForm.script.$error" ng-show="createForm.script.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Select script</span>
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <md-checkbox ng-model="vm.application.enabled"  name="enabled" aria-label="enabled">
                <span>Enabled</span>
              </md-checkbox>

            </md-input-container>
            <div flex="50" class="description" >

              <md-input-container  class="md-block">
                <label >Description</label>
                <textarea columns="1" md-maxlength="150" rows="5" ng-model="vm.selected.description" ></textarea>
              </md-input-container>

            </div>


          </div>

          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <md-select name="type" required="" ng-model="vm.application.type" placeholder="Select Type" >
                <md-option ng-value="ty" ng-repeat="ty in vm.types">{{ty}}</md-option>
              </md-select>
              <div ng-messages="createForm.type.$error" ng-show="createForm.type.$touched"
                   role="alert">
                <div ng-message="required">
                  <span>Select type</span>
                </div>
              </div>
            </md-input-container>
            <!-- Languages -->
            <div  flex class="members">
              <div class="section-header" layout="row" layout-align="start center">
                <i class="icon-flag s18"></i>
                <span class="section-title" >Languages</span>
              </div>
              <div class="section-content">
                <md-chips class="member-chips" ng-model="vm.application.languages" md-autocomplete-snap
                          md-require-match="true" md-transform-chip="$chip.id">
                  <input type="hidden" required name="language" ng-model="vm.selected.languages"/>
                  <md-autocomplete
                    md-application-item="vm.applicationLanguage"
                    md-search-text="vm.searchLan"
                    md-items="lang in vm.languageQuerySearch(vm.searchLan)"
                    md-item-text="lang.name"
                    placeholder="Search language">
                    <span md-highlight-text="vm.searchLan">{{lang.name}}</span>
                  </md-autocomplete>
                  <md-chip-template class="member-chip">
                    <img class="member-chip-avatar"  ng-src="assets/images/flags/{{vm.languageName($chip).flag}}.png">
                    <md-tooltip>{{vm.languageName($chip).name}}</md-tooltip>
                  </md-chip-template>
                  <button md-chip-remove class="md-primary">
                    <md-icon md-font-icon="icon-close" class="s18"></md-icon>
                  </button>
                </md-chips>
                <div ng-messages="createForm.languages.$error" ng-show="createForm.languages.$touched"
                     role="alert">
                  <div ng-message="required">
                    <span>Select Languages</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Languages -->
          </div>

          <div layout="column" layout-gt-sm="row" ng-repeat="scriptParam in vm.scriptparams">
            <md-input-container flex>
              <input ng-if="scriptParam.type==='java.lang.Integer'" type="number" name="{{scriptParam.name}}" min="0"
                     ng-model="scriptParam.value"
                     placeholder="{{scriptParam.name}}"  >
              <input ng-if="scriptParam.type==='java.lang.String'" type="text" name="{{scriptParam.name}}" min="0"
                     ng-model="scriptParam.value"
                     placeholder="{{scriptParam.name}}"  >


              <input ng-if="scriptParam.type==='com.cisco.prompt.Playable'" type="text" name="{{scriptParam.name}}" min="0"
                     ng-model="scriptParam.value"
                     placeholder="{{scriptParam.name}}"  >


            </md-input-container>
          </div>
        </div>


      </div>

      <div layout="column" layout-gt-sm="row">


      </div>




    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button type="submit"  ng-disabled="createForm.$invalid || createForm.$pristine" class="save-button md-accent md-raised" aria-label="Create">
       Create
      </md-button>


    </md-dialog-actions>
  </form>
</md-dialog>




